.pass-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    height: 100%;
    gap: 5em;
}

.button-container {
    display: flex;
    gap: 1em;
}

.but {
    width: 10em;
}