<div class="list-group users-list">
  <div class="row">
  <div class="col-md-6">
    <div class="input-group searchbar">
      <input type="text" class="form-control searchbar" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Search..." (keyup)="searchByName()">
      <div class="input-group-append">
        <span class="input-group-text icb"><ion-icon class="icon" name="search"></ion-icon></span>
      </div>
    </div>
  </div>
  <div class="col-md-6 filter-by-age">
    <div class="row">
      <div class="col">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Click For Password Statistics
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card><span><ion-icon style="zoom:2.0;" class="icon" name="ios-browsers"></ion-icon></span>&nbsp;<span>Duplicates: {{ duplicates }}</span><span *ngif="">View</span></mat-card>
          <mat-card><span><ion-icon style="zoom:2.0;" class="icon" name="ios-outlet"></ion-icon></span>&nbsp;<span>Weak Passwords: {{ weakpasswords }}</span></mat-card>
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</div>
  <div class="butcont mt-4 mb-4">
    <div>
      <a class="nav-link" routerLink="/new-password">
        <button class="bt_n btn btn-primary">New Password</button>
      </a>
    </div>
    <div>
      <a class="nav-link" routerLink="/import">
        <button class="bt_n btn btn-primary">Import</button>
      </a>
    </div>
    
  </div>
  <div @fade *ngFor="let item of items" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="row">
      <div class="col col-md-2 image-col">
        <img class="image" [src]="item.payload.doc.data().avatar">
      </div>
      <div class="col col-md-8 text-col">
        <h5 class="mb-1">{{item.payload.doc.data().website}}</h5>
        <small>Category: {{item.payload.doc.data().category}}</small>
      </div>
      <div class="col col-md-2 actions-col">
        <button matTooltip="View Password" matTooltipShowDelay="500" matTooltipPosition="above" class="btn btn-outline-primary action" (click)="openDialog(item)" type="button">
          <ion-icon class="icon" name="eye"></ion-icon>
        </button>
        &nbsp;
        <button matTooltip="Edit Password" matTooltipShowDelay="500" matTooltipPosition="above" class="btn btn-outline-primary action" (click)="viewDetails(item)" type="button">
          <ion-icon class="icon" name="create"></ion-icon>
        </button>
        &nbsp;
        <button matTooltip="Delete Password" matTooltipShowDelay="500" matTooltipPosition="above" class="btn btn-outline-danger action" (click)="delete(item)" type="button">
          <ion-icon class="icon" name="trash"></ion-icon>
        </button>
      </div>
    </div>
  </div>
</div>
