/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
   margin: 0;
   background: #F2F2F2;
   height: 100vh;
}

.nav-brander {
	font-size: 1.5em;
	font-weight: bold;
}

.topnav {
	justify-content: space-between;
}

.stat-bar {
	justify-content: space-between;
}

.nav-span {
	padding-right: 1rem;
}

.nav-span1, .nav-span2 {
	padding-right: 2rem;
}

.nav-span2:hover {
	cursor: pointer;
}

.dup-span {
	padding-left: 2rem;
}

.mat-icon {
    transform: scale(1.5);
    padding-right: 0.5em;
}

.searchbar {
	height: 100%;
}

.logout-link, .logout-link:hover {
	color: white;
}

.cat-card {
	background: #333333;
	color: white;
}

.edit-but {
  padding-left: 1em;
}